## Python Mini-Project: Data Clean-Up, Pt. 1

Pay close attention to the prompts to help guide you through this task.

In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
path = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas
new_coders_pd = pd.read_csv(path, dtype='object')

In [4]:
# Inspect all columns
new_coders_pd.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
# Use iloc to accomplish this (remember that you need to take the position of the rows and columns into account)
new_coders_pd = new_coders_pd.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]

In [6]:
# Change "0" to "No" and "1" to "Yes" in response columns
fixes = {
    '0':'No',
    '1':'Yes'
}

new_coders_pd = new_coders_pd.replace(fixes)
new_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000,NaN,"some college credit, no degree",NaN
1,22,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000,Front-End Web Developer,"some college credit, no degree",NaN
2,19,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000,NaN,high school diploma or equivalent (GED),NaN
3,26,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000,Full-Stack Web Developer,"some college credit, no degree",NaN

In [7]:
# Calculate total number of respondents in survey
Number_of_respondents = len(new_coders_pd["AttendedBootcamp"])
Number_of_respondents

15620

In [8]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp = new_coders_pd.loc[new_coders_pd["AttendedBootcamp"] == "Yes", :]
attended_bootcamp.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000,NaN,bachelor's degree,Biology
97,26,Yes,Yes,Yes,No,45000,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000,NaN,master's degree (non-professional),Music
130,41,Yes,Yes,Yes,Yes,75000,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000,NaN,"some college credit, no degree",NaN
159,26,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [9]:
# Calculate average age of attendees
attended_bootcamp['Age'] = pd.to_numeric(attended_bootcamp['Age'])
avg_age = attended_bootcamp["Age"].mean()
avg_age = '{:,.2f}'.format(avg_age)
avg_age

C:\Users\katie\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'31.07'

In [10]:
# Calculate how many people attended a bootcamp
attended_count = attended_bootcamp["AttendedBootcamp"].count()
attended_count

953

In [11]:
# Calculate how many attendees hold degrees
attended_bootcamp["SchoolDegree"].value_counts()

bachelor's degree                           462
some college credit, no degree              116
master's degree (non-professional)           96
professional degree (MBA, MD, JD, etc.)      39
high school diploma or equivalent (GED)      38
associate's degree                           32
trade, technical, or vocational training     24
some high school                             10
Ph.D.                                         8
no high school (secondary school)             7
Name: SchoolDegree, dtype: int64

In [12]:
# Count the number of records where the person is a degree holder
degree_holder = attended_bootcamp.loc[(attended_bootcamp["SchoolDegree"] == "bachelor's degree") | 
                                      (attended_bootcamp["SchoolDegree"] == "master's degree (non-professional)") |
                                      (attended_bootcamp["SchoolDegree"] == "professional degree (MBA, MD, JD, etc.)") |
                                      (attended_bootcamp["SchoolDegree"] == "associate's degree") |
                                      (attended_bootcamp["SchoolDegree"] == "Ph.D.") ,:]
degree_holder_count = degree_holder["SchoolDegree"].count()
degree_holder["SchoolDegree"].count()

637

In [13]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
attended_bootcamp["Gender"] = attended_bootcamp["Gender"].replace(
    {'genderqueer': 'Non-Binary', 'trans': 'Non-Binary', 'agender': 'Non-Binary'})

total_gender = attended_bootcamp["Gender"].count()
total_gender
male = attended_bootcamp["Gender"].value_counts()["male"]
female = attended_bootcamp["Gender"].value_counts()["female"]
nonbinary = attended_bootcamp["Gender"].value_counts()["Non-Binary"]

# Calculate percentage of respondents belonging to each gender
percent_male_attendees = (male/total_gender)*100
percent_male_attendees = '{:,.2f}%'.format(percent_male_attendees)

percent_female_attendees = (female/total_gender)*100
percent_female_attendees = '{:,.2f}%'.format(percent_female_attendees)

percent_nonbinary_attendees = (nonbinary/total_gender)*100
percent_nonbinary_attendees = '{:,.2f}%'.format(percent_nonbinary_attendees)

C:\Users\katie\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
# Calculate percentage of respondents who attended a bootcamp
percent_attended = (attended_count/Number_of_respondents)*100
percent_attended = '{:,.2f}%'.format(percent_attended)
percent_attended

'6.10%'

In [15]:
# Calculate percentage of attendees with a college degree
percent_of_degree_holder = (degree_holder_count/attended_count)*100
percent_of_degree_holder = '{:,.2f}%'.format(percent_of_degree_holder)
percent_of_degree_holder

'66.84%'

In [16]:
# Calculate average post-bootcamp salary
attended_bootcamp['BootcampPostSalary'] = pd.to_numeric(attended_bootcamp['BootcampPostSalary'])
avg_post_salary = attended_bootcamp['BootcampPostSalary'].mean()
avg_post_salary = '${:,.0f}'.format(avg_post_salary)
avg_post_salary

C:\Users\katie\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'$63,741'

In [17]:
# Create a new table consolidating above calculations
new_df = pd.DataFrame({"Total Surveyed":[Number_of_respondents],
                     "Total Bootcamp attendees":[attended_count],
                     "% attended bootcamp":[percent_attended],
                     "Avg. Age":[avg_age],
                     "Has a degree":[percent_of_degree_holder],
                     "% Male":[percent_male_attendees],
                     "% Female":[percent_female_attendees],
                     "% Non Gender Specific":[percent_nonbinary_attendees],
                     "Average Post Bootcamp Salary":[avg_post_salary]})

new_df

,Total Surveyed,Total Bootcamp attendees,% attended bootcamp,Avg. Age,Has a degree,% Male,% Female,% Non Gender Specific,Average Post Bootcamp Salary
0,15620,953,6.10%,31.07,66.84%,59.54%,39.14%,1.32%,"$63,741"

In [18]:
# Export to Excel
# Use df.to_excel to export to excel. Don't include the indexes
new_df.to_excel("output/Bootcamp1_KH.xlsx", index=False)